.button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--primary-color);
  border-radius: 10px;
  border: none;
  height: 52px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  padding: 0 32px;

  &:disabled {
    background: rgba(171, 183, 201, 1);
    cursor: auto;
  }
}

.small {
  height: 40px;
  border-radius: 8px;
}
