.infoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #abb7c9;
  font-size: 7px;
  line-height: 1;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding: 1px 0 0;
}

.message {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 160px;
  text-align: start;
  border-radius: 8px;
  background: rgba(47, 64, 95, 0.6);
  backdrop-filter: blur(5px);
  font-size: 12px;
  line-height: 1.33;
  color: white;
  font-weight: 400;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.2s;
  padding: 10px;

  .infoBtn:hover & {
    opacity: 1;
    z-index: 12;
    visibility: visible;
  }
}

.inverted {
  top: auto;
  bottom: -5px;
  transform: translate(-50%, 100%);
}
