.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  gap: 78px;
  margin-bottom: 100px;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menuItem {
  font-size: 16px;
  font-weight: 600;
  list-style: none;
}

.menuLink {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
}

.cta {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.worldIdBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
